

<section class="create-hero">
    <div class="container">
        <h2>Create New Product</h2>
        <p>Fill in the details below to add a new product to the catalog.</p>
    </div>
</section>

<section class="create-form">
    <div class="container">
        <form enctype="multipart/form-data" #form="ngForm" (ngSubmit)="addPhone(form)"> 
            <div class="form-group">
                <label for="model">Model:<span class="red">*</span></label>
                <input
                [class]="(
                    (inputModel?.touched && inputModel?.errors?.['required'])
                || 
                    (inputModel?.touched && inputModel?.errors?.['minlength'] )
                ) ? 'input-error' : ''" 
                ngModel 
                #inputModel="ngModel"
                required
                minlength="5"
                type="text" id="model" name="model" value="{{phone.model}}">
            </div>
            @if(inputModel?.touched){
                <div>
                    @if(inputModel?.errors?.['required']){
                        <p class="error">
                            Model is required!
                        </p>
                    }
                    @if(inputModel?.errors?.['minlength']){
                        <p class="error">
                            Model must be at least 5 characters!
                        </p>
                    }
                </div>
            }
            <div class="form-group">
                <label for="screen-size">Screen Size:<span class="red">*</span></label>
                <input
                [class]="(
                    (inputScreenSize?.touched && inputScreenSize?.errors?.['required'])
                || 
                    (inputScreenSize?.touched && inputScreenSize?.errors?.['minlenght'] )
                ) ? 'input-error' : ''" 
                ngModel 
                #inputScreenSize="ngModel"
                required
                minlength="2" 
                type="text" id="screen-size" name="screenSize" value="{{phone.screenSize}}">
            </div>
            @if(inputScreenSize?.touched){
                <div>
                    @if(inputScreenSize?.errors?.['required']){
                        <p class="error">
                            Screen size is required!
                        </p>
                    }
                    @if(inputScreenSize?.errors?.['minlength']){
                        <p class="error">
                            Screen size must be at least 2 characters!
                        </p>
                    }
                </div>
            }
            <div class="form-group">
                <label for="price">Price:<span class="red">*</span></label>
                <input
                [class]="(
                    (inputPrice?.touched && inputPrice?.errors?.['required'])
                || 
                    (inputPrice?.touched && inputPrice?.errors?.['posNumValidator'] )
                ) ? 'input-error' : ''" 
                ngModel 
                #inputPrice="ngModel"
                appPosNum 
                type="number" id="price" name="price" value="{{phone.price}}">
            </div>
            @if(inputPrice?.touched){
                <div>
                    @if(inputPrice?.errors?.['posNumValidator']){
                        <p class="error">
                            Price must be positive number!
                        </p>
                    }
                </div>
            }
            <div class="form-group">
                <label for="image">Image:<span class="red">*</span></label>
                <input
                [class]="(
                    (inputImage?.touched && inputImage?.errors?.['required'])
                || 
                    (inputImage?.touched && inputImage?.errors?.['pattern'] )
                ) ? 'input-error' : ''" 
                ngModel 
                #inputImage="ngModel"
                pattern="^https:\/\/.*$"
                required
                type="text" id="image" name="image" >
            </div>
            @if(inputImage?.touched){
                <div>
                    @if(inputImage?.errors?.['required']){
                        <p class="error">
                            Image address is required!
                        </p>
                    }
                    @if(inputImage?.errors?.['pattern']){
                        <p class="error">
                            Image address must start with https:// !
                        </p>
                    }
                </div>
            }
            <!-- <div class="form-group">
                <label for="image">Image File:<span class="red">*</span></label>
                <input
                ngModel 
                #inputImageFile="ngModel" 
                type="file" id="imageFile" name="imageFile" >
            </div> -->
            <div class="new-theme-content">
                <label for="phoneText">Description <span class="red">*</span></label>
                <textarea
                [class]="(
                    (inputPhoneText?.touched && inputPhoneText?.errors?.['required'])
                || 
                    (inputPhoneText?.touched && inputPhoneText?.errors?.['minlength'] )
                ) ? 'input-error' : ''"  
                type="text" 
                name="description" 
                id="postText" 
                rows="5" 
                class="height"
                ngModel
                #inputPhoneText="ngModel"
                minlength="10"
                required
                ></textarea>
                @if(inputPhoneText?.touched){
                    <div>
                        @if(inputPhoneText?.errors?.['required']){
                            <p class="error">
                                Description is required!
                            </p>
                        }
                        @if(inputPhoneText?.errors?.['minlength']){
                            <p class="error">
                                Description must be at least 10 characters!
                            </p>
                        }
                    </div>
                }
            </div>
            
            <button  [disabled]="form.invalid" class="btn"
            [style]="{backgroundColor: form.invalid ? 'grey':'#0073e6'}">Create Product</button>
        </form>
    </div>
</section>


