<header>
    <div class="container">
        <h1>PhoneStore</h1>
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/catalog">Catalog</a></li>
                <li><a routerLink="/about">About</a></li>
                @if(isLoggedIn){
                <li><a routerLink="/profile">Profile</a></li>
                <li><a routerLink="/create">Create Offer</a></li>
                <li><a routerLink="/logout">Logout</a></li>
                } @else {
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
                }
            </ul>
            @if(user) {
            <span>{{"user?.email"}}</span>
            }
    </nav>
         
    </div>
</header>