<section class="profile-hero">
    <div class="container">
        <h2>User Profile</h2>
        <!-- Readonly mode-->
         @if(!isEditMode){

             <ng-container>
                 <div class="flex-prof">
                     <p>Username: </p>
                     <p>{{profileDetails.username}}</p>
                 </div>
                 <div class="flex-prof">
                     <p>Email: </p>
                     <p>{{profileDetails.email}}</p>
                 </div>
                <div [style]="{ marginTop: '20px'}">
                     <button class="edit-button" (click)="toggleEditMode()">Edit</button>
                 </div>
             </ng-container>
         } @else {
         <ng-container>
            <form [formGroup]="form" (ngSubmit)="handleSaveProfile()">
                <div class="flex-prof">
                    <p>Username: </p>
                    <input 
                    formControlName="username"
                    type="text" name="username" id="username" >
                </div>
                @if(form.get('username')?.touched){
                    <div>
                        @if(form.get('username')?.errors?.['required']){
                            <p class="error">
                                Username is required!
                            </p>
                        }
                        @if(form.get('username')?.errors?.['minlength']){
                            <p class="error">
                                Username must be at least 5 characters!
                            </p>
                        }
                    </div>
                }
                <div class="flex-prof">
                    <p>Email: </p>
                    <input
                    formControlName="email"
                    type="email" name="email" id="email" >
                </div>
                @if(form.get('email')?.touched){
                    <div>
                        @if(form.get('email')?.errors?.['required']){
                            <p class="error">
                                Email is required!
                            </p>
                        }
                        @if(form.get('email')?.errors?.['emailValidator']){
                            <p class="error">
                                Email is not valid!
                            </p>
                        }
                    </div>
                }
                <div [style]="{ marginTop : '20px'}">
                    <button class="cancel-button" (click)="onCancel($event)">Cancel</button>
                    <button class="save-button" 
                    [disabled]="form.invalid" 
                    [style]="{
                        marginLeft: '50px',
                        backgroundColor: form.invalid ? 'grey':'#5cb85c',
                        borderColor: form.invalid ? 'grey': '#5cb85c'
                    }">Save</button>
                </div>
            </form>
         </ng-container>
        }
    </div>
</section>

<section class="created-laptops">
    <div class="container">
        <h3>Added Phones</h3>
        <div class="laptop-list">
            @if(createdPhones.length >0){
                @for (phone of createdPhones; track $index) {
                    <div class="laptop-item">
                        <img src="{{phone.image}}"
                            alt="Laptop">
                        <p><strong>Price:</strong> {{phone.price}}</p>
                        <p><strong>Model:</strong> {{phone.model}}</p>
                        <a [routerLink]="['/phones', phone._id]" class="btn">View Details</a>
                    </div>
                }
            }
            
            <!-- Add more laptop items as needed -->
            @else {
            <p class="no-post">You haven't created a post yet</p>
            }
        </div>
    </div>
</section>

<section class="preferred-laptops">
    <div class="container">
        <h3>Ordered Phones</h3>
        <div class="laptop-list">
            @if(orderedPhones.length >0){
                @for (phone of orderedPhones; track $index) {
                    <div class="laptop-item">
                        <img src="{{phone.image}}"
                            alt="Laptop">
                        <p><strong>Price:</strong> {{phone.price}}</p>
                        <p><strong>Model:</strong> {{phone.model}}</p>
                        <a [routerLink]="['/phones', phone._id]" class="btn">View Details</a>
                    </div>
                }
                
                
            } @else {
            <!-- Add more laptop items as needed --> 

            <p class="no-post">You haven't preferred any devices yet</p>
            }
        </div>
    </div>
</section>
