

<section class="register-hero">
    <div class="container">
        <h2>Create Your Account</h2>
        <p>Join us to get the best deals on phones and accessories.</p>
    </div>
</section>

<section class="register-form">
    <div class="container">
        <form  [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-group">
                <label for="username">Username:</label>
                <input 
                [class]="isFieldTextMissing('username') || isNotMinLength ? 'input-error' : ''"
                formControlName="username" type="text" id="username" name="username" value="">
            </div>
            @if(registerForm.get('username')?.touched){
                <div>
                    @if(registerForm.get('username')?.errors?.['required']){
                        <p class="error">
                            Username is required!
                        </p>
                    }
                    @if(registerForm.get('username')?.errors?.['minlength']){
                        <p class="error">
                            Username must be at least 5 characters!
                        </p>
                    }
                    @if(registerForm.get('username')?.errors?.['pattern']){
                        <p class="error">
                            Username must contain only latin letters and digits!
                        </p>
                    }
                </div>
            }
            <div class="form-group">
                <label for="email">Email:</label>
                <input
                [class]="isFieldTextMissing('email') || isEmailNotValid ? 'input-error' : ''" 
                formControlName="email" type="email" id="email" name="email" value="">
            </div>
            @if(registerForm.get('email')?.touched){
                <div>
                    @if(registerForm.get('email')?.errors?.['required']){
                        <p class="error">
                            Email is required!
                        </p>
                    }
                    @if(registerForm.get('email')?.errors?.['emailValidator']){
                        <p class="error">
                            Email is not valid!
                        </p>
                    }
                </div>
            }
            <!--password-->
            <div formGroupName="passGroup">
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input
                    [class]="(
                    (passGroup?.get('password')?.touched &&
                    passGroup?.get('password')?.errors?.['required']) 
                    ||
                    (passGroup?.get('password')?.touched &&
                    passGroup?.get('password')?.errors?.['minlength'])
                    ||
                    (passGroup?.get('password')?.touched &&
                    passGroup?.get('password')?.errors?.['pattern'])
                    ) 
                    ? 'input-error' : ''" 
                    formControlName="password" type="password" id="password" name="password">
                </div>
                @if(passGroup?.get('password')?.touched){
                    <div>
                        @if(registerForm.get('passGroup')?.get('password')?.errors?.['required']){
                            <p class="error">
                                Password is required!
                            </p>
                        }
                        @if(registerForm.get('passGroup')?.get('password')?.errors?.['minlength']){
                            <p class="error">
                                Password must be at least 5 characters!
                            </p>
                        }
                        @if(registerForm.get('passGroup')?.get('password')?.errors?.['pattern']){
                            <p class="error">
                                Password must contain only latin letters and digits!
                            </p>
                        }
                    </div>
                    }
                <div class="form-group">
                    <label for="confirm-password">Confirm Password:</label>
                    <input
                    [class]="(
                    (passGroup?.get('rePassword')?.touched &&
                    (passGroup?.get('rePassword')?.errors?.['required'] ||
                    passGroup?.errors?.['matchPasswordValidator']
                    )) 
                )? 'input-error' : ''" 
                    formControlName="rePassword" type="password" id="confirm-password" name="rePassword">
                </div>
                @if(passGroup?.get('rePassword')?.touched){
                    <div>
                        @if(passGroup?.errors?.['matchPasswordValidator'] ||
                        passGroup?.get('rePassword')?.errors?.['required']){
                            <p class="error">
                                Repeat Password does not match password!
                            </p>
                        }
                    </div>
                }
            </div>
            <button class="btn"
            [disabled]="registerForm.invalid"
            [style]="{backgroundColor: registerForm.invalid ? 'grey':'#0073e6'}">Register</button>
            <p>Already have an account? <a routerLink="/login">Login</a></p>
        </form>
    </div>
</section>
