.register-hero {
    padding: 50px 0;
    text-align: center;
    color: #fff;
    margin-top: 80px;
}

.register-hero h2 {
    margin: 0 0 10px;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ff9900;
}

.register-hero p {
    margin: 0 0 20px;
    font-size: 1.2rem;
    color:#0073e6;
    font-weight: bold;
}

.register-form {
    padding: 2rem 0;
}

.register-form .container {
    max-width: 500px;
    margin: 0 auto;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.register-form .form-group {
    margin-bottom: 15px;
}

.register-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.register-form input {
    width: 96%;
    padding: 10px;
    border: 1px solid #ddd;
    border-left: 0.4em solid green;
    border-radius: 5px;
}

.register-form .btn {
    width: 100%;
    padding: 10px;
    background: #0073e6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

.register-form .btn:hover {
    background: #005bb5;
    transform: translateY(-5px);
}

.register-form p {
    text-align: center;
    margin-top: 15px;
}

.register-form p a {
    color: #0073e6;
    text-decoration: none;
}

.register-form p a:hover {
    text-decoration: underline;
}

/* error */
p.error {
    text-align: left;
    border-radius: 0.5em;
    color: red!important;
    padding-top: 0;
    font-weight: bold;
}
.input-error {
    border-left-color: red!important;
    border-color: red !important;
}

.notification{
    position: fixed;
    z-index: 2000;
    right: 8%;
    top: 16%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-style: italic;
    text-decoration: underline;
    box-shadow: 0 5px 10px rgb(204, 204, 204);
    background-color: rgba(54, 141, 192, 0.699);
}