.details-hero {
    padding: 50px 0;
    text-align: center;
    color: #fff;
    margin-top: 80px;
  }
  
  .details-hero h2 {
    margin: 0 0 10px;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ff9900;
  }
  
  .details-content .container {
    max-width: 1000px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-details {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .product-image {
    flex: 1;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
  }
  
  .product-image img {
    max-width: 20em;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-info {
    flex: 2;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .product-info h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .product-info p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.8;
    margin-bottom: 10px;
  }
  
  .product-actions {
    text-align: center;
    margin-top: 20px;
  }
  
  .product-actions .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: #fff;
    background: #0073e6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
  }
  
  .product-actions a {
      color: white;
      text-decoration: none;
  }
  
  .product-actions .btn.edit {
    background: #28a745;
    font-weight: bold;
  }
  
  .product-actions .btn.delete {
    background: #dc3545;
    font-weight: bold;
  }
  
  .product-actions .btn.prefer {
    background: #ffc107;
    font-weight: bold;
  }
  
  .product-actions .prefer-message {
    background: #0073e6;
    display: inline-block;
    font-weight: bold;
    padding: 5px;
    width: 30%;
    border-radius: 5px;
    color: white;
  }
  
  .product-actions .btn:hover {
    transform: translateY(-5px);
  }
  
  .product-actions .btn:focus {
    outline: none;
  }

  /* comment */

.comment {
  margin-top: 1em;
  border: 1px solid #999;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comment header p {
  padding: 0.5em;
  
  background-color: #0073e6;
  border-radius: 5px;
  border-bottom: 1px dashed #999;
  color: white;
}

.comment-main {
  margin: 1em;
  display: flex;
}

.userdetails {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.userdetails p {
  padding-left: 0;
  text-align: left;
  color: #234465;
}

.post-content p {
  padding-left: 1.5em;
  color: black;
}

.userdetails div {
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  border-radius: 0.5em;
  background-color: #e4e3e3;
}

.userdetails img {
  padding: 0;
  align-self: center;
  margin: 1em 0;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 1px solid #999;
}

/* answer-comment */

.answer-comment {
  width: 100%;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.answer-comment p {
  flex-basis: 15%;
  padding-bottom: 0.3em;
}

.answer-comment p span {
  color: #234465;
  font-size: 1.2em;
}

.answer {
  border: 1px solid white;
  border-radius: 0.5em;
  flex-basis: 85%;
  text-align: center;
  background-color: #e4e3e3;
  padding: 0.5em;
}

.answer textarea {
  width: 90%;
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding: 0.5em;
  border: 1px solid #999;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.answer button {
  color: white;
  margin: 0.5em 1em;
  padding: 0.4em 1.2em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.answer button:hover {
  transform: scale(1.05);
}

.comment-area {
  min-width: 100%;
}

/* error */
p.error {
  text-align: left;
  border-radius: 0.5em;
  color: red!important;
  padding-top: 0;
  font-weight: bold;
}
.input-error {
  border-left-color: red!important;
  border-color: red !important;
}
  