
<section class="details-hero">
    <div class="container">
        <h2>Phone Details</h2>
    </div>
</section>

<section class="details-content">
    <div class="container">
        <div class="product-details">
            <p>Created: {{phone!.created_at | elapsedTime}}</p>
            <div class="product-image">
                @if(phone.imageFile){
                    <img src="{{imagesUrl}}{{phone.imageFile}}" alt="Phone">
                }
                <img src="{{phone.image}}" alt="Phone">
            </div>
            <div class="product-info">
                <h3>Model: {{phone.model}}</h3>
                <p><strong>Screen Size:</strong> {{phone.screenSize}} inches</p>
                <p><strong>Price:</strong> ${{phone.price}}</p>
                <p><strong>Description:</strong> {{phone.description}}</p>
            </div>
        </div>
        @if(isAuthenticated){
            <div class="product-actions">
                @if(isOwner){
                <button class="btn edit"><a [routerLink]="['/phones',phone._id, 'edit']">Edit</a></button>
                <button class="btn delete"><a (click)="deletePhone()">Delete</a></button>
                } @else if (isOrdered){
                <p class="prefer-message">You've already ordered this device</p>
                } @else {
                <button class="btn prefer"><a (click)="orderPhone()">Order</a></button>
                }
            </div>
            @if(true){
                @for (msg of phone.msgList; track $index) {
                    <div class="comment">
                        <header class="header">
                            <p>
                                <span>{{msg.authorId._id === phone.owner._id ? 'Owner::': ''}} </span>
                                <span>{{msg.authorId.username}}</span> posted <time>{{msg.created_at | elapsedTime}}</time></p>
                        </header>
                        <div class="comment-main">
                            <div class="userdetails">
                                <img src="/profile.png" alt="avatar">
                            </div>
                            <div class="post-content">
                                <p>{{msg.text}}</p>
                            </div>
                        </div>
                    </div>
                }
                <div class="answer-comment">
                    <p><span>{{username}}</span> comment:</p>
                    <div class="answer">
                        <form #postForm="ngForm" (ngSubmit)="handlePost(postForm)">
                            <textarea
                            [class]="(
                                (postText?.touched && postText?.errors?.['required'])
                            || 
                                (postText?.touched && postText?.errors?.['minlenght'] )
                            ) ? 'input-error' : ''"
                            ngModel
                            #postText="ngModel"
                            required
                            minlength="10"
                            name="postText" id="comment" cols="20" rows="5"></textarea>
                            @if(postText?.touched){
                                <div>
                                    @if(postText?.errors?.['required']){
                                        <p class="error">
                                            Comment is required!
                                        </p>
                                    }
                                    @if(postText?.errors?.['minlength']){
                                        <p class="error">
                                            Comment must be at least 10 characters!
                                        </p>
                                    }
                                </div>
                            }
                            <button [disabled]="postForm.invalid" class="btn"
                            [style]="{backgroundColor: postForm.invalid ? 'grey':'#0073e6'}">Post</button>
                        </form>
                    </div>
                </div>

            }
                
        }
    </div>
</section>
